*{
  padding: 0;
  margin: 0;
}
.alls{
  height: 20vh;
  color: white;
  background-color: rgb(101,27,101);
}

.hdg{

  text-align: center;
  margin: 25px;
  
}

.btn{
  display: flex;
  justify-content: center;
}

.coords {
  color: white;
  display: flex;

  width: 20%;
  justify-content: center;
  margin: auto;
  margin-top: 10px;
}

.coords > div {
  border-radius: 5px;
  background-color: black;
  margin: 10px;
  padding: 10px;
  font-size: 12px;
  text-align: center;
}

#lats, #longs{
  background-color: white;
  margin: 5px;
  padding: 4px;
  border-radius: 3px;
  color: black;
}

